$empty: transparent;
$dark: #000000;
$dark1: #19194a;
$dark2: #464f60;
$dark3: #101828;
$dark4: rgb(4, 4, 4);
$dark5: rgb(2, 2, 2);
$dark-text: #26293f;

$white: #ffffff;
$white100: #eeeeee;
$gray01: #f0f0f0;
$gray02: #b6b7b7;
$gray03: #6b6b6b;
$gray04: rgb(51, 54, 70);

// HIGHLIGHTS
$green-light: #36cf82;
$green-light-10: #48d67c;
$green-dark: #229059;
$green-dark20: #0e6e3e;

$red-light: #ffccd6;
$red-light1: #e34a30;
$red-light2: #f8d7ce;
$red: #f00030;
$red-dark: #8a001c;
$red-dark-1: #ad3041;
$red-dark-100: #e34a30;
$red-dark-200: #b63b26;
$red-dark-300: #de350b;
